# ทักษะวิชาการ

## โค้งรถไฟ

#### โหลดข้อมูล pre-test

In [1]:
import pandas as pd

df_academic_km_pre = pd.read_csv('km_pre_test.csv')
df_academic_km_pre
#df_academic_km.info()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร\n,ไทย (15),14,27
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร\n,อังกฤษ (15),4,27
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,ไทย (10),0,27
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,อังกฤษ (10),0,27
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ\n,ไทย (5),4,27
...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน\n,อังกฤษ (10),5,55
76,K16,ดีน,12,เด็กโต,การสะกดคำ\n,ไทย (5),5,55
77,K16,ดีน,12,เด็กโต,การสะกดคำ\n,อังกฤษ (5),0,55
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,ไทย (5),5,55
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,อังกฤษ (5),4,55

In [2]:
df_academic_ks_pre = pd.read_csv('ks_pre_test.csv')
df_academic_ks_pre.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,ไทย (5),3,9
1,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,อังกฤษ (5),0,9
2,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),2,9
3,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),0,9
4,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),1,9

In [3]:
# remove newline characters from ทักษะ column
df_academic_km_pre["ทักษะ"] = df_academic_km_pre["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_km_pre

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),14,27
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),4,27
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,ไทย (10),0,27
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,อังกฤษ (10),0,27
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ,ไทย (5),4,27
...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน,อังกฤษ (10),5,55
76,K16,ดีน,12,เด็กโต,การสะกดคำ,ไทย (5),5,55
77,K16,ดีน,12,เด็กโต,การสะกดคำ,อังกฤษ (5),0,55
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,ไทย (5),5,55
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,อังกฤษ (5),4,55

#### โหลดข้อมูล post-test

In [4]:
df_academic_km_post = pd.read_csv('km_post_test.csv')
df_academic_km_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ.1,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),15,30
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร\n,อังกฤษ (15),5,30
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,ไทย (10),3,30
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,อังกฤษ (10),0,30
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ\n,ไทย (5),2,30
...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน\n,อังกฤษ (10),10,63
76,K16,ดีน,12,เด็กโต,การสะกดคำ\n,ไทย (5),3,63
77,K16,ดีน,12,เด็กโต,การสะกดคำ\n,อังกฤษ (5),5,63
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,ไทย (5),5,63
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,อังกฤษ (5),5,63

In [5]:
df_academic_km_post = df_academic_km_post.rename(columns={'ทักษะ.1': 'ทักษะ'})
df_academic_km_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),15,30
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร\n,อังกฤษ (15),5,30
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,ไทย (10),3,30
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน\n,อังกฤษ (10),0,30
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ\n,ไทย (5),2,30
...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน\n,อังกฤษ (10),10,63
76,K16,ดีน,12,เด็กโต,การสะกดคำ\n,ไทย (5),3,63
77,K16,ดีน,12,เด็กโต,การสะกดคำ\n,อังกฤษ (5),5,63
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,ไทย (5),5,63
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา\n,อังกฤษ (5),5,63

In [6]:
df_academic_km_post["ทักษะ"] = df_academic_km_post["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_km_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),15,30
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),5,30
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,ไทย (10),3,30
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,อังกฤษ (10),0,30
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ,ไทย (5),2,30
...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน,อังกฤษ (10),10,63
76,K16,ดีน,12,เด็กโต,การสะกดคำ,ไทย (5),3,63
77,K16,ดีน,12,เด็กโต,การสะกดคำ,อังกฤษ (5),5,63
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,ไทย (5),5,63
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,อังกฤษ (5),5,63

In [7]:
df_academic_ks_post = pd.read_csv('ks_post_test.csv')
df_academic_ks_post.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,ไทย (5),3,25
1,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,อังกฤษ (5),2,25
2,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),5,25
3,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),4,25
4,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),5,25

In [8]:
df_academic_ks_post["ทักษะ"] = df_academic_ks_post["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_ks_post.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม
0,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,ไทย (5),3,25
1,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,อังกฤษ (5),2,25
2,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),5,25
3,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),4,25
4,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),5,25

## statistical test -> comparison between groups
แบ่งตามชุดข้อสอบที่ใช้ในการทดสอบ ได้นักเรียน 2 กลุ่ม:
- เด็กเล็ก
- เด็กกลางและเด็กโต

#### เตรียม dataframe

- df_academic_km = dataframe ที่ใช้เก็บคะแนนทักษะทางวิชาการของน้องที่อยู่ในพื้นที่โค้งรถไฟ (เด็กกลาง+โต)
- df_academic_ks = dataframe ที่ใช้เก็บคะแนนทักษะทางวิชาการของน้องที่อยู่ในพื้นที่โค้งรถไฟ (เด็กเล็ก)

In [9]:
def add_period(df, period):
    df = df.copy()
    df["ช่วงเวลา"] = period
    return df


df_academic_km = pd.concat([
    add_period(df_academic_km_pre, "pre"),
    add_period(df_academic_km_post, "post")
])

df_academic_ks = pd.concat([
    add_period(df_academic_ks_pre, "pre"),
    add_period(df_academic_ks_post, "post")
])

df_academic_km

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม,ช่วงเวลา
0,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),14,27,pre
1,K5,ขนมปัง,6,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),4,27,pre
2,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,ไทย (10),0,27,pre
3,K5,ขนมปัง,6,เด็กกลาง,การอ่าน,อังกฤษ (10),0,27,pre
4,K5,ขนมปัง,6,เด็กกลาง,การสะกดคำ,ไทย (5),4,27,pre
...,...,...,...,...,...,...,...,...,...
75,K16,ดีน,12,เด็กโต,การอ่าน,อังกฤษ (10),10,63,post
76,K16,ดีน,12,เด็กโต,การสะกดคำ,ไทย (5),3,63,post
77,K16,ดีน,12,เด็กโต,การสะกดคำ,อังกฤษ (5),5,63,post
78,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,ไทย (5),5,63,post
79,K16,ดีน,12,เด็กโต,การเข้าใจเนื้อหา,อังกฤษ (5),5,63,post

In [10]:
df_academic_ks

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา (คะแนนเต็ม),คะแนน,คะแนนรวม,ช่วงเวลา
0,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,ไทย (5),3,9,pre
1,K1,แอล,4,เด็กเล็ก,รู้จักตัวอักษร,อังกฤษ (5),0,9,pre
2,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),2,9,pre
3,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),0,9,pre
4,K1,แอล,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),1,9,pre
...,...,...,...,...,...,...,...,...,...
43,K7,เมย์,7,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),0,0,post
44,K7,เมย์,7,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),0,0,post
45,K7,เมย์,7,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,อังกฤษ (5),0,0,post
46,K7,เมย์,7,เด็กเล็ก,ศัพท์สัตว์,ไทย (5),0,0,post
47,K7,เมย์,7,เด็กเล็ก,ศัพท์สัตว์,อังกฤษ (5),0,0,post

### test for normality and statistical methods

##### เด็กกลาง

In [11]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_mid = df_academic_km.query("ประเภทกลุ่ม == 'เด็กกลาง'")

df_wide = df_mid.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา (คะแนนเต็ม)"],
    columns="ช่วงเวลา",
    values="คะแนน"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]


results = []

for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา (คะแนนเต็ม)"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    # check normality
    stat_norm, p_norm = shapiro(subset["diff"])
    
    if p_norm > 0.05: # use paired t-test
        stat, pval = ttest_rel(subset["post"], subset["pre"])
        test_used = "Paired t-test"
    else: # use wilcoxon
        stat, pval = wilcoxon(subset["post"], subset["pre"])
        test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Normality p": round(p_norm,4),
        "Test": test_used,
        "Stat": round(stat,3),
        "p-value": round(pval,4)
    })

summary_df = pd.DataFrame(results)
summary_df

c:\Users\ACER\AppData\Local\Programs\Python\Python313\Lib\site-packages\scipy\stats\_axis_nan_policy.py:586: UserWarning: scipy.stats.shapiro: Input data has range zero. The results may not be accurate.
  res = hypotest_fun_out(*samples, **kwds)

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Normality p,Test,Stat,p-value
0,การสะกดคำ,อังกฤษ (5),5,0.2,0.0,-0.2,0.0001,Wilcoxon Signed-Rank,0.000,1.0000
1,การสะกดคำ,ไทย (5),5,1.0,0.4,-0.6,0.0460,Wilcoxon Signed-Rank,0.000,0.5000
2,การอ่าน,อังกฤษ (10),5,0.0,0.0,0.0,1.0000,Paired t-test,NaN,NaN
3,การอ่าน,ไทย (10),5,5.6,3.2,-2.4,0.8224,Paired t-test,-1.272,0.2723
4,การเข้าใจเนื้อหา,อังกฤษ (5),5,0.6,0.0,-0.6,0.0001,Wilcoxon Signed-Rank,0.000,1.0000
5,การเข้าใจเนื้อหา,ไทย (5),5,3.6,3.6,0.0,0.1458,Paired t-test,0.000,1.0000
6,รู้จักตัวอักษร,อังกฤษ (15),5,10.6,4.0,-6.6,0.1170,Paired t-test,-1.967,0.1206
7,รู้จักตัวอักษร,ไทย (15),5,13.0,12.0,-1.0,0.0123,Wilcoxon Signed-Rank,5.000,0.5625

n → จำนวนตัวอย่าง (นักเรียน) ที่มีข้อมูลทั้ง pre และ post สำหรับทักษะนั้น  
Pre mean → ค่าเฉลี่ยคะแนนก่อนเรียน (Pre-test)  
Post mean → ค่าเฉลี่ยคะแนนหลังเรียน (Post-test)  

Mean diff → ค่าความต่างเฉลี่ย = Post mean − Pre mean  
    - ถ้าเป็น บวก = โดยเฉลี่ยนักเรียนได้คะแนนเพิ่มขึ้น  
    - ถ้าเป็น ลบ = โดยเฉลี่ยนักเรียนได้คะแนนลดลง  

Stat → ค่าสถิติที่ได้จากการทดสอบ (เช่น t หรือ W)  

p-value → ค่าความน่าจะเป็นจากการทดสอบ  
    - ถ้า < 0.05 → มีนัยสำคัญทางสถิติ → แสดงว่ามีการเปลี่ยนแปลงจริง (คะแนนก่อนและหลังต่างกัน)  
    - ถ้า ≥ 0.05 → ไม่มีนัยสำคัญ → แสดงว่าคะแนนก่อนและหลังไม่ต่างกันอย่างมีนัยสำคัญ

#### เด็กโต

In [12]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_old = df_academic_km.query("ประเภทกลุ่ม == 'เด็กโต'")

# pivot เพื่อเอา pre post เป็น column แทน
df_wide = df_old.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา (คะแนนเต็ม)"],
    columns="ช่วงเวลา",
    values="คะแนน"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]

results = []

for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา (คะแนนเต็ม)"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    # Check normality
    stat_norm, p_norm = shapiro(subset["diff"])
    if p_norm > 0.05: # normal → paired t-test
        stat, pval = ttest_rel(subset["post"], subset["pre"])
        test_used = "Paired t-test"
    else:               # not normal → Wilcoxon
        stat, pval = wilcoxon(subset["post"], subset["pre"])
        test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Normality p": round(p_norm,4),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_old = pd.DataFrame(results)
summary_old

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Normality p,Test,Stat,p-value
0,การสะกดคำ,อังกฤษ (5),5,0.0,1.0,1.0,0.0001,Wilcoxon Signed-Rank,0.000,1.0000
1,การสะกดคำ,ไทย (5),5,4.6,0.6,-4.0,0.1185,Paired t-test,-4.472,0.0111
2,การอ่าน,อังกฤษ (10),5,3.8,2.0,-1.8,0.9924,Paired t-test,-0.836,0.4504
3,การอ่าน,ไทย (10),5,9.2,2.0,-7.2,0.0233,Wilcoxon Signed-Rank,0.000,0.1250
4,การเข้าใจเนื้อหา,อังกฤษ (5),5,2.2,1.0,-1.2,0.0214,Wilcoxon Signed-Rank,1.500,0.1875
5,การเข้าใจเนื้อหา,ไทย (5),5,3.8,1.0,-2.8,0.0460,Wilcoxon Signed-Rank,0.000,0.1250
6,รู้จักตัวอักษร,อังกฤษ (15),5,12.6,3.0,-9.6,0.0056,Wilcoxon Signed-Rank,1.000,0.1250
7,รู้จักตัวอักษร,ไทย (15),5,14.4,2.0,-12.4,0.0019,Wilcoxon Signed-Rank,0.000,0.0625

#### เด็กเล็ก

In [13]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_mid = df_academic_ks

# ---- STEP 1: Pivot pre/post into wide format ----
df_wide = df_mid.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา (คะแนนเต็ม)"],
    columns="ช่วงเวลา",
    values="คะแนน"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]

# ---- STEP 2: Loop per skill × language ----
results = []

for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา (คะแนนเต็ม)"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    # Check normality
    stat_norm, p_norm = shapiro(subset["diff"])
    
    if p_norm > 0.05: # use paired t-test
        stat, pval = ttest_rel(subset["post"], subset["pre"])
        test_used = "Paired t-test"
    else: # use wilcoxon
        stat, pval = wilcoxon(subset["post"], subset["pre"])
        test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Normality p": round(p_norm,4),
        "Test": test_used,
        "Stat": round(stat,3),
        "p-value": round(pval,4)
    })

summary_df = pd.DataFrame(results)
summary_df

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Normality p,Test,Stat,p-value
0,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),6,0.00,1.83,1.83,0.0211,Wilcoxon Signed-Rank,0.000,0.2500
1,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),6,2.17,3.17,1.00,0.2324,Paired t-test,0.866,0.4261
2,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,อังกฤษ (5),6,0.00,1.17,1.17,0.0703,Paired t-test,1.784,0.1345
3,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),6,0.67,2.83,2.17,0.0956,Paired t-test,2.484,0.0556
4,รู้จักตัวอักษร,อังกฤษ (5),6,0.17,1.83,1.67,0.0347,Wilcoxon Signed-Rank,0.000,0.2500
5,รู้จักตัวอักษร,ไทย (5),6,3.67,2.00,-1.67,0.1614,Paired t-test,-2.076,0.0925
6,ศัพท์สัตว์,อังกฤษ (5),6,0.00,1.33,1.33,0.0587,Paired t-test,1.865,0.1212
7,ศัพท์สัตว์,ไทย (5),6,1.67,2.83,1.17,0.1543,Paired t-test,1.083,0.3284

## บางซื่อ
แบ่งเป็น
- เด็กเล็ก
- เด็กกลางและเด็กโต

#### load pre-test

In [14]:
import pandas as pd

# เด็กเล็ก

df_academic_bs_pre = pd.read_csv('bs_pre_test.csv')
df_academic_bs_pre
#df_academic_km.info()

df_academic_bs_pre["ทักษะ"] = df_academic_bs_pre["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_bs_pre.head()

df_academic_bs_pre.loc[df_academic_bs_pre['ชื่อ'] == 'บุ้ค', 'ชื่อ'] = 'บุ๊ค'

In [15]:
# เด็กกลาง+โต

df_academic_bm_pre = pd.read_csv('bm_pre_test.csv')
df_academic_bm_pre

df_academic_bm_pre["ทักษะ"] = df_academic_bm_pre["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_bm_pre.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา,คะแนน,คะแนนรวม
0,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),13,43
1,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),12,43
2,B9,มาติน,7,เด็กกลาง,การอ่าน,ไทย (10),10,43
3,B9,มาติน,7,เด็กกลาง,การอ่าน,อังกฤษ (10),6,43
4,B9,มาติน,7,เด็กกลาง,การสะกดคำ,ไทย (5),1,43

In [27]:
df_academic_bm_pre.loc[df_academic_bm_pre['ชื่อ'] == 'หมวย', 'ประเภทกลุ่ม'] = 'เด็กโต'
df_academic_bm_pre.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา,คะแนน,คะแนนรวม
0,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),13,43
1,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),12,43
2,B9,มาติน,7,เด็กกลาง,การอ่าน,ไทย (10),10,43
3,B9,มาติน,7,เด็กกลาง,การอ่าน,อังกฤษ (10),6,43
4,B9,มาติน,7,เด็กกลาง,การสะกดคำ,ไทย (5),1,43

#### load post-test

In [17]:
# เด็กเล็ก

df_academic_bs_post = pd.read_csv('bs_post_test.csv')
df_academic_bs_post.head()

df_academic_bs_post["ทักษะ"] = df_academic_bs_post["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_bs_post.head()

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา,คะแนน,คะแนนรวม
0,B4,บุ๊ค,4,เด็กเล็ก,รู้จักตัวอักษร,ไทย (5),2,18
1,B4,บุ๊ค,4,เด็กเล็ก,รู้จักตัวอักษร,อังกฤษ (5),1,18
2,B4,บุ๊ค,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),5,18
3,B4,บุ๊ค,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),0,18
4,B4,บุ๊ค,4,เด็กเล็ก,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),5,18

In [18]:
#เด็กกลาง+โต
df_academic_bm_post = pd.read_csv('bm_post_test.csv')
df_academic_bm_post

df_academic_bm_post["ทักษะ"] = df_academic_bm_post["ทักษะ"].str.replace("\n", "", regex=True)
df_academic_bm_post

df_academic_bm_post.loc[df_academic_bm_post['ชื่อ'] == 'หมวย', 'ประเภทกลุ่ม'] = 'เด็กโต'
df_academic_bm_post

df_academic_bm_post.loc[df_academic_bm_post['ชื่อ'] == 'แมกนั่ม', 'ชื่อ'] = 'แม็กนั่ม'
df_academic_bm_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา,คะแนน,คะแนนรวม
0,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),15,58
1,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),15,58
2,B9,มาติน,7,เด็กกลาง,การอ่าน,ไทย (10),10,58
3,B9,มาติน,7,เด็กกลาง,การอ่าน,อังกฤษ (10),7,58
4,B9,มาติน,7,เด็กกลาง,การสะกดคำ,ไทย (5),0,58
...,...,...,...,...,...,...,...,...
91,B10,บิ้ว,9,เด็กกลาง,การอ่าน,อังกฤษ (10),10,67
92,B10,บิ้ว,9,เด็กกลาง,การสะกดคำ,ไทย (5),5,67
93,B10,บิ้ว,9,เด็กกลาง,การสะกดคำ,อังกฤษ (5),3,67
94,B10,บิ้ว,9,เด็กกลาง,การเข้าใจเนื้อหา,ไทย (5),4,67
95,B10,บิ้ว,9,เด็กกลาง,การเข้าใจเนื้อหา,อังกฤษ (5),5,67

#### prepare dataframe

In [19]:
def add_period(df, period):
    df = df.copy()
    df["ช่วงเวลา"] = period
    return df

df_academic_bm = pd.concat([
    add_period(df_academic_bm_pre, "pre"),
    add_period(df_academic_bm_post, "post")
])

df_academic_bs = pd.concat([
    add_period(df_academic_bs_pre, "pre"),
    add_period(df_academic_bs_post, "post")
])

df_academic_bm

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,ทักษะ,ภาษา,คะแนน,คะแนนรวม,ช่วงเวลา
0,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,ไทย (15),13,43,pre
1,B9,มาติน,7,เด็กกลาง,รู้จักตัวอักษร,อังกฤษ (15),12,43,pre
2,B9,มาติน,7,เด็กกลาง,การอ่าน,ไทย (10),10,43,pre
3,B9,มาติน,7,เด็กกลาง,การอ่าน,อังกฤษ (10),6,43,pre
4,B9,มาติน,7,เด็กกลาง,การสะกดคำ,ไทย (5),1,43,pre
...,...,...,...,...,...,...,...,...,...
91,B10,บิ้ว,9,เด็กกลาง,การอ่าน,อังกฤษ (10),10,67,post
92,B10,บิ้ว,9,เด็กกลาง,การสะกดคำ,ไทย (5),5,67,post
93,B10,บิ้ว,9,เด็กกลาง,การสะกดคำ,อังกฤษ (5),3,67,post
94,B10,บิ้ว,9,เด็กกลาง,การเข้าใจเนื้อหา,ไทย (5),4,67,post
95,B10,บิ้ว,9,เด็กกลาง,การเข้าใจเนื้อหา,อังกฤษ (5),5,67,post

## statistical test -> comparison between groups

##### เด็กกลาง

In [20]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_mid_bm = df_academic_bm.query("ประเภทกลุ่ม == 'เด็กกลาง'")

df_wide = df_mid_bm.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา"],
    columns="ช่วงเวลา",
    values="คะแนน",
    aggfunc="first"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]

results = []
for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    if subset["diff"].eq(0).all():  # ถ้า pre=post ทุกคน
        test_used = "No change"
        stat, pval = None, None
    else:
        stat_norm, p_norm = shapiro(subset["diff"])
        if p_norm > 0.05:
            stat, pval = ttest_rel(subset["post"], subset["pre"])
            test_used = "Paired t-test"
        else:
            stat, pval = wilcoxon(subset["post"], subset["pre"])
            test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_df = pd.DataFrame(results)
summary_df

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Test,Stat,p-value
0,การสะกดคำ,อังกฤษ (5),4,0.25,3.25,3.00,Paired t-test,4.243,0.0240
1,การสะกดคำ,ไทย (5),4,1.00,2.50,1.50,Wilcoxon Signed-Rank,3.000,0.5000
2,การอ่าน,อังกฤษ (10),4,4.50,8.50,4.00,Paired t-test,2.530,0.0854
3,การอ่าน,ไทย (10),4,9.00,10.00,1.00,Paired t-test,2.449,0.0917
4,การเข้าใจเนื้อหา,อังกฤษ (5),4,0.25,5.00,4.75,Wilcoxon Signed-Rank,0.000,0.1250
5,การเข้าใจเนื้อหา,ไทย (5),4,2.00,4.00,2.00,Paired t-test,2.828,0.0663
6,รู้จักตัวอักษร,อังกฤษ (15),4,9.50,15.00,5.50,Paired t-test,2.171,0.1183
7,รู้จักตัวอักษร,ไทย (15),4,12.75,15.00,2.25,Wilcoxon Signed-Rank,0.000,0.1250

##### เด็กโต

In [21]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_big_bm = df_academic_bm.query("ประเภทกลุ่ม == 'เด็กโต'")

df_wide = df_big_bm.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา"],
    columns="ช่วงเวลา",
    values="คะแนน",
    aggfunc="first"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]

results = []
for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    if subset["diff"].eq(0).all():  # ถ้า pre=post ทุกคน
        test_used = "No change"
        stat, pval = None, None
    else:
        stat_norm, p_norm = shapiro(subset["diff"])
        if p_norm > 0.05:
            stat, pval = ttest_rel(subset["post"], subset["pre"])
            test_used = "Paired t-test"
        else:
            stat, pval = wilcoxon(subset["post"], subset["pre"])
            test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_df = pd.DataFrame(results)
summary_df

C:\Users\ACER\AppData\Local\Temp\ipykernel_15756\4247204227.py:27: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  stat_norm, p_norm = shapiro(subset["diff"])

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Test,Stat,p-value
0,การสะกดคำ,อังกฤษ (5),2,0.5,2.5,2.0,Wilcoxon Signed-Rank,1.0,1.0
1,การสะกดคำ,ไทย (5),2,3.5,3.5,0.0,Wilcoxon Signed-Rank,1.5,1.0
2,การอ่าน,อังกฤษ (10),2,3.5,5.0,1.5,Wilcoxon Signed-Rank,1.0,1.0
3,การอ่าน,ไทย (10),2,9.0,8.5,-0.5,Wilcoxon Signed-Rank,0.0,1.0
4,การเข้าใจเนื้อหา,อังกฤษ (5),2,1.0,2.5,1.5,Wilcoxon Signed-Rank,1.0,1.0
5,การเข้าใจเนื้อหา,ไทย (5),2,4.5,2.0,-2.5,Wilcoxon Signed-Rank,0.0,1.0
6,รู้จักตัวอักษร,อังกฤษ (15),2,11.5,10.0,-1.5,Wilcoxon Signed-Rank,1.0,1.0
7,รู้จักตัวอักษร,ไทย (15),2,12.0,12.5,0.5,Wilcoxon Signed-Rank,1.0,1.0

##### เด็กเล็ก

In [22]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

df_small_bs = df_academic_bs

df_wide = df_small_bs.pivot_table(
    index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม","ทักษะ","ภาษา"],
    columns="ช่วงเวลา",
    values="คะแนน",
    aggfunc="first"
).reset_index()

df_wide = df_wide.dropna(subset=["pre","post"])
df_wide["diff"] = df_wide["post"] - df_wide["pre"]

results = []
for (skill, lang), subset in df_wide.groupby(["ทักษะ","ภาษา"]):
    n = len(subset)
    mean_pre = subset["pre"].mean()
    mean_post = subset["post"].mean()
    mean_diff = subset["diff"].mean()
    
    if subset["diff"].eq(0).all():  # ถ้า pre=post ทุกคน
        test_used = "No change"
        stat, pval = None, None
    else:
        stat_norm, p_norm = shapiro(subset["diff"])
        if p_norm > 0.05:
            stat, pval = ttest_rel(subset["post"], subset["pre"])
            test_used = "Paired t-test"
        else:
            stat, pval = wilcoxon(subset["post"], subset["pre"])
            test_used = "Wilcoxon Signed-Rank"
    
    results.append({
        "ทักษะ": skill,
        "ภาษา": lang,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_df = pd.DataFrame(results)
summary_df

,ทักษะ,ภาษา,n,Pre mean,Post mean,Mean diff,Test,Stat,p-value
0,ความเข้าใจเนื้อหา-ศัพท์สี,อังกฤษ (5),3,1.67,1.67,0.00,Paired t-test,0.000,1.0000
1,ความเข้าใจเนื้อหา-ศัพท์สี,ไทย (5),3,3.00,5.00,2.00,Paired t-test,3.464,0.0742
2,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,อังกฤษ (5),3,1.33,1.67,0.33,Wilcoxon Signed-Rank,3.000,1.0000
3,ความเข้าใจเนื้อหา-ศัพท์อารมณ์,ไทย (5),3,2.00,5.00,3.00,Paired t-test,2.598,0.1217
4,รู้จักตัวอักษร,อังกฤษ (5),3,2.33,2.33,0.00,Paired t-test,0.000,1.0000
5,รู้จักตัวอักษร,ไทย (5),3,2.67,3.33,0.67,Wilcoxon Signed-Rank,0.000,0.5000
6,ศัพท์สัตว์,อังกฤษ (5),3,2.00,2.67,0.67,Paired t-test,0.756,0.5286
7,ศัพท์สัตว์,ไทย (5),3,1.67,5.00,3.33,Paired t-test,3.780,0.0634

# EF 2 ด้าน

In [23]:
import pandas as pd

df_ef_bs_pre = pd.read_csv('bef_pre_test.csv')
df_ef_bs_pre

df_ef_bs_post = pd.read_csv('bef_post_test.csv')
df_ef_bs_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,P_คะแนนรวม (21),T_คะแนนรวม (21),คะแนนรวม2ด้าน (42)
0,B1,แม็กนัม,11,เด็กโต,13,9,22
1,B2,หมวย,10,เด็กกลาง,20,17,37
2,B3,โบกี้,9,เด็กกลาง,19,17,36
3,B4,ออนิว,6,เด็กเล็ก,9,7,16
4,B5,นนท์,7,เด็กเล็ก,5,7,12
5,B6,บุ๊ค,4,เด็กเล็ก,5,12,17
6,B7,ไอยู,7,เด็กกลาง,18,19,37
7,B8,มาติน,7,เด็กกลาง,12,14,26
8,B9,โบนัส,6,เด็กกลาง,11,17,28
9,B10,บิ้ว,9,เด็กกลาง,21,20,41
10,B11,แก๊ป,8,เด็กกลาง,13,12,25

In [24]:
df_ef_kf_pre = pd.read_csv('kef_pre_test.csv')
df_ef_kf_pre

df_ef_kf_post = pd.read_csv('kef_post_test.csv')
df_ef_kf_post

,รหัสนักเรียน,ชื่อ,อายุ,ประเภทกลุ่ม,P_คะแนนรวม (21),T_คะแนนรวม (21),คะแนนรวม2ด้าน (42)
0,K5,แอล,4,เด็กเล็ก,10,11,21
1,K3,วา,8,เด็กกลาง,14,15,29
2,K6,ขนมปัง,6,เด็กกลาง,12,11,23
3,K7,คิว,5,เด็กเล็ก,2,3,5
4,K4,เมย์,7,เด็กเล็ก,7,15,22
5,K1,เมษา,8,เด็กกลาง,12,13,25
6,K8,อาย (โต-วรัญญา),7,เด็กกลาง,11,10,21

In [25]:
import pandas as pd
from scipy.stats import shapiro, ttest_rel, wilcoxon

# โค้งรถไฟ
df_kf = pd.concat([df_ef_kf_pre.assign(ช่วงเวลา="pre"),
                   df_ef_kf_post.assign(ช่วงเวลา="post")],
                  ignore_index=True)

score_cols = ["P_คะแนนรวม (21)", "T_คะแนนรวม (21)", "คะแนนรวม2ด้าน (42)"]

results = []

for score_col in score_cols:
    df_wide = df_kf.pivot_table(
        index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม"],
        columns="ช่วงเวลา",
        values=score_col
    ).reset_index()

    df_wide = df_wide.dropna(subset=["pre","post"])
    df_wide["diff"] = df_wide["post"] - df_wide["pre"]

    n = len(df_wide)
    mean_pre = df_wide["pre"].mean()
    mean_post = df_wide["post"].mean()
    mean_diff = df_wide["diff"].mean()

    if df_wide["diff"].eq(0).all():
        test_used = "No change"
        stat, pval = None, None
    else:
        stat_norm, p_norm = shapiro(df_wide["diff"])
        if p_norm > 0.05:
            stat, pval = ttest_rel(df_wide["post"], df_wide["pre"])
            test_used = "Paired t-test"
        else:
            stat, pval = wilcoxon(df_wide["post"], df_wide["pre"])
            test_used = "Wilcoxon Signed-Rank"

    results.append({
        "Score Type": score_col,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_kf = pd.DataFrame(results)
summary_kf

,Score Type,n,Pre mean,Post mean,Mean diff,Test,Stat,p-value
0,P_คะแนนรวม (21),7,7.86,9.71,1.86,Paired t-test,1.569,0.1677
1,T_คะแนนรวม (21),7,9.29,11.14,1.86,Paired t-test,1.104,0.3119
2,คะแนนรวม2ด้าน (42),7,17.14,20.86,3.71,Paired t-test,1.456,0.1957

In [26]:
# บางซื่อ
df_bs = pd.concat([df_ef_bs_pre.assign(ช่วงเวลา="pre"),
                   df_ef_bs_post.assign(ช่วงเวลา="post")],
                  ignore_index=True)

results = []

for score_col in score_cols:
    df_wide = df_bs.pivot_table(
        index=["รหัสนักเรียน","ชื่อ","อายุ","ประเภทกลุ่ม"],
        columns="ช่วงเวลา",
        values=score_col
    ).reset_index()

    df_wide = df_wide.dropna(subset=["pre","post"])
    df_wide["diff"] = df_wide["post"] - df_wide["pre"]

    n = len(df_wide)
    mean_pre = df_wide["pre"].mean()
    mean_post = df_wide["post"].mean()
    mean_diff = df_wide["diff"].mean()

    if df_wide["diff"].eq(0).all():
        test_used = "No change"
        stat, pval = None, None
    else:
        stat_norm, p_norm = shapiro(df_wide["diff"])
        if p_norm > 0.05:
            stat, pval = ttest_rel(df_wide["post"], df_wide["pre"])
            test_used = "Paired t-test"
        else:
            stat, pval = wilcoxon(df_wide["post"], df_wide["pre"])
            test_used = "Wilcoxon Signed-Rank"

    results.append({
        "Score Type": score_col,
        "n": n,
        "Pre mean": round(mean_pre,2),
        "Post mean": round(mean_post,2),
        "Mean diff": round(mean_diff,2),
        "Test": test_used,
        "Stat": None if stat is None else round(stat,3),
        "p-value": None if pval is None else round(pval,4)
    })

summary_bs = pd.DataFrame(results)
summary_bs

,Score Type,n,Pre mean,Post mean,Mean diff,Test,Stat,p-value
0,P_คะแนนรวม (21),11,13.73,13.27,-0.45,Paired t-test,-0.328,0.7494
1,T_คะแนนรวม (21),11,14.91,13.73,-1.18,Paired t-test,-1.254,0.2382
2,คะแนนรวม2ด้าน (42),11,28.64,27.00,-1.64,Paired t-test,-0.742,0.4750